
/*============== footer css ==============*/
.footer
{
    background-color: var(--color-typo);
}

.footer-description h2 {
    color: white;
    font-weight: bold;
    width: 59%;
    padding: 35px 0 20px;
}
.footer-description p {
    color: #cfcfcf;
    font-size: 16px;
    width: 80%;
}
.menu h4 {
    font-size: 24px;
    text-transform: uppercase;
    color: #787878;
    font-weight: bold;
    margin: 0;
    padding-bottom: 25px;
}
ul.footer-menu li {
    padding-top: 20px;
}
ul.footer-menu li a {
    font-size: 16px;
    color: #CFCFCF;
    text-transform: capitalize;
}
.footer-location {
    display: flex
;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid #787878;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.footer-location i {
    color: #787878;
    font-size: 18px;
    padding-right: 15px;
}
.footer-location p {
    color: #CFCFCF;
}
.menu.contacts a {
    color: #CFCFCF;
    font-size: 16px;
    display: block;
    padding-top: 20px;
}
.menu.contacts a i {
    color: #787878;
    font-size: 18px;
    padding-right: 15px;
}

ul.social-media li {
    margin-right: 20px;
}
.footer-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    margin-top: 101px;
    border: 1px solid #666666;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 25px;
}
.footer-two a {
    color: #787878;
    font-size: 14px;
    padding-left: 20px;
}